@import "tailwindcss";

/* @font-face {
  font-family: 'FE 5 Cent';
  src: url('/fonts/FE5Cent-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

:root {
    --white: #E5E7EB;
}

body {
    font-family: "FE 5 Cent", sans-serif;
    /* background-image: url("/src/assets/bg.png");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #030620;
    color: beige;
}

#quiz,#adminPage {
    font-family: 'Poppins', sans-serif;
}

input[type="button"] {
    margin: 0.5rem;
    width: 5rem;
    height: 3rem;
    background-color: #721E1C;
    border-radius: 0.5rem;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-hidden {
    display: none;
}
