---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="m-10 flex items-center justify-center flex-col">
        <span class="font-black text-5xl absolute top-53">Welcome</span>
        <div class="absolute bottom-30">
            <button><a href="/admin/">Admin Page</a></button>

            <button class="bg-color-transparent">
                <a href="/game/">Game Start!</a></button
            >
        </div>
    </div>
</Layout>
